{
  "email" : "test@example.com",
  "sites" : {
    "main" : [
      "example.com",
      "www.example.com",
      "ww2.example.com"
    ],
    "dev" : [
      "dev.example.com",
      "dev2.example.com"
    ]
  }
}
